.App {
  text-align: center;
  font-family: 'Goldman', cursive;
}

h1, h2{
  color: #D3C422;
}

a{
  text-decoration: none;
  margin-right: 3%;
  margin-top: 2%;
  color: #C8A659;
}
a:hover{
  color: #93032E;
}

nav {
  width: 25%;
  display: flex;
  justify-content: space-around;
  margin-left: auto;
}

/* Media Queries */

/* Laptops */
@media (max-width: 1024px){

}

/* Tablets */
@media (max-width: 768px){

}

/* Mobile */
@media (max-width: 480px){

}